*{
    margin: 0%;
}

header{
    background-image: url('/static/images/header.jpeg');
    background-size:  100% 100%;
    width: 97.8vw;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url('/static/images/homeImage.jpg');
    background-size: 100% 100%;
}

#profile-pic {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

#profile-pic:hover::after {
    content: attr(title);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 30px;
    white-space: nowrap;
}


#logoutopt {
    position: absolute;
    top: 70px;
    right: 40px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}