/* ============== CONTAINER ================= */
.cgpa_container{
    width: 90%;
    min-height: 80.9vh;
    height: auto;
    border-radius: 20px;
    text-align: center;
    background-image: url('/static/images/header.jpeg');
    background-size: 100% 100%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.cgpa_container h2 {
    font-size: 50px;
    margin: 20px 0;
    color: #333;
}

/* ================== TEXT ================== */
.sgpaCalculator{
    padding: 20px;
}

#subjectEntry{
    font-size: 30px;
    font-weight: bold;
}

.subject, #result, p, #cgpa, #cgparesult{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}


/* ============== INPUTS ================= */
#numberOfSubject{
    width: 5%;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    border: 2px solid orange;
    border-radius: 6px;
    padding: 5px;
}

.subject input, .subject select{
    font-size: 20px;
    margin-left: 10px;
    border: 2px solid orange;
    border-radius: 6px;
    padding: 5px;
}

.subject input{
    width: 5%;
    text-align: center;
}

#currentCGPA{
    width: 5%;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    border: 2px solid orange;
    border-radius: 6px;
    padding: 5px;
}

/* ============== BUTTONS ================= */
#generateButton{
    padding: 10px 20px;
    background: linear-gradient(135deg, #eb913d, #f3a570);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    transition: 0.3s;
    margin: 20px;
}

#calculateSGPA, #resetButton {
    display: none; 
    margin: 20px auto;   
    padding: 10px 20px;
    background: linear-gradient(135deg, #eb913d, #f3a570);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

#calculateSGPA:hover, #generateButton:hover, #generateCGPA:hover, #resetButton:hover {
    background: linear-gradient(135deg, #ac5605, #dd854b);
    transform: translateY(-2px);
}

#generateCGPA, #yes, #no {
    margin: 20px auto;   
    padding: 10px 20px;
    background: linear-gradient(135deg, #eb913d, #f3a570);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    
}

#yes{
    background: linear-gradient(135deg, #30ca51, #34ee0f);    
}

#no{
    background: linear-gradient(135deg, #ee060a, #c20404);  
}

#yes:hover {
    background: linear-gradient(135deg, #0cae2f, #4ddb31);        
}

#no:hover {
    background: linear-gradient(135deg, #a30507, #e13939);  
}

#choose{
    display: none;
}

#cgpaCalculator{
    display: none;
}