header{
    width: 97.8vw;
}

.different-task{
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

img{
    height: 171px;
    width: 300px;
    border-radius: 20px;
    /* padding-left: 100px; */
}

.card{
    width: 500px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    background-image: url('/static/images/cardbgImage.jpg');
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content p{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.content a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.content button{
    padding: 10px 20px;
    /* background-color: darkblue; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.content button:hover{
    background-color: red;
    color: white;
    transform: translateY(-2px);
    transition: 0.3s;
}
.content a:hover{
    text-decoration: none;
    color: rgb(249, 249, 252);
    font-weight: bold;
}

@media (max-width: 768px) {
    .different-task {
        grid-template-columns: 1fr;
    }
    img {
        width: 100%;
        height: auto;
    }
    .card {
        width: 100%;
    }
    .content h1 {
        font-size: 24px;
    }
    .content p {
        font-size: 18px;
    }
    .content button {
        font-size: 16px;
    }
    
}
