{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/home.css">
    <div class="different-task">
        <div class="card">
            <img src="../static/images/todo.jpeg" alt="todo image">
            <div class="content">
                <h1>Todo List</h1>
                <p>Manage your tasks efficiently with our Todo List.</p>
                <button class="buttonOption">
                    <a href="/todo">Todo</a>
                </button>
            </div>
        </div>

        <div class="card">
            <img src="../static/images/daily_expense.jpeg" alt="Daily Expense image">
            <div class="content">
                <h1>Daily Expense Tracker</h1>
                <p>Track your daily expenses with ease.</p>
                <button class="buttonOption">
                    <a href="/expense">Expense Tracker</a>
                </button>
            </div>
        </div>

        <div class="card">
            <img src="../static/images/cgpa.jpeg" alt="CGPA System image">
            <div class="content">
                <h1>CGPA Calculator</h1>
                <p>Calculate your SGPA and CGPA easily.</p>
                <button class="buttonOption">
                    <a href="/cgpa">Go to CGPA</a>
                </button>
            </div>
        </div>


        <div class="card">
            <img src="../static/images/report.jpeg" alt="Report image">
            <div class="content">
                <h1>Report</h1>
                <p>Generate and manage reports easily.</p>
                <button class="buttonOption">
                    <a href="/report">Go to Report</a>
                </button>
            </div>
        </div>
    </div>
    

{% endblock %}