{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/report.css">
    {% include "toggle.html" %}

    <div class="report_container">
        <h2>Report of Todo or Expenditure</h2>
        <hr>
        <form class="report_selection">
            <label for="dateRange">Select the Range of Date:</label>
            <input type="date" id="startDate"> to
            <input type="date" id="endDate">
            <br><br>
            <label for="optionSelection" class="options">Select the Option:</label>
            <input type="radio" id="todoOption" name="option" value="todo">
            <label for="todoOption" class="optionValue">Todo Report</label>
            <input type="radio" id="expenseOption" name="option" value="expense">
            <label for="expenseOption" class="optionValue">Expense Report</label>
            <br><br>
            <button type="button" id="generateReport" onclick="generateReportFunction()">Generate Report</button>
        </form>
        <hr>
        <div id="tableWrapper" style="border-radius:10px; overflow:hidden;"></div>

        <div id="chartWrapper" style="width:80%; margin: 20px auto;">
            <canvas id="reportChart"></canvas>
        </div>

        <button id="downloadBtn" onclick="showDownloadOptions()">Download Report</button>
        <div id="downloadOptions">
            <button onclick="downloadCSV()">CSV</button>
            <button onclick="downloadPDF()">PDF</button>
        </div>
    </div>

    <!-- jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <!-- jsPDF autoTable plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script src="{{ url_for('static', filename='js/report.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
 {% endblock %}